* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

/* hero section */
.hero .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 0 650px;
}

/* sign up section */
section.hero, .sign-up {
    background-color: #1F2937;
}

.sign-up h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sign-up p {
    font-size: 18px;
    color: #E5E7EB;
}

button.sign-up-button {
    width: 100px;
    height: 25px;
    color: #fff;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    width: 100px;
}

.link a {
    color: white;
    text-decoration: none;
    margin-right: 12px;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.sign-up-left {
    width: 350px;
}

/* main section */
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section h2 {
    margin: 32px 0;
}

/* illustrations */
.illustrations {
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
}

.illustration {
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    display: flex;
    gap: 8px;
}

.illustration-box {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

/* cta section */
.cta {
    margin: 72px;
    display: flex;
        background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    padding: 36px;
    width: 800px;
    color: #fff;
    border-radius: 8px;
}

.cta-title {
    font-size: 24px;
    font-weight: 900;
}

.cta-left {
    flex-direction: column;
}

.cta-sign-up {
    color: #fff;
    font-size: 13px;
}

.cta-button {
    width: 125px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

.cta-button button {
    color: #fff;
}

button.cta-button {
    color: #fff;
}

/* quote section */
.quote-section {
    display: flex;
    padding: 128px;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

p.quote-section {
    align-self: flex-end;
    width: 100%;
}

.inspirational-quote {
    width: 850px;
}

p.inspirational-quote, p.quote-author {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: #1F2937;
    color: #fff;
}